body {
    font-family: Arial;
    text-align: center;
    background: #0f172a;
    color: white;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background: #38bdf8;
    color: black;
    cursor: pointer;
}